<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Phone-A-Friend</title>
  <link rel="stylesheet" href="vendor/stylesheets/normalize.css">
  <link rel="stylesheet" href="vendor/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="assets/stylesheets/styles.css"> 
</head>
<body>

  <!-- Navigation bar -->
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container-fluid">
      <div class="navbar-inner">
        <a class="navbar-brand" href="#">Phone-A-Friend</a>
      </div>
    </div>
  </nav>
  
  <!-- Header -->
  <div class="header">
    <div class="jumbotron">
      <h2 class="paf-index__header-text">Phone-A-Friend</h2>
      <p>Connect with old friends, reboot old friendships, make your day extra-ordinary</p>
      <p class="paf-index__header-meta">Give it a shake!</p>
    </div>
  </div>
  
  <!-- Body -->
  <div class="container-fluid">
    <div id="react-target" class="body">
      <!-- React element rendered to a string of HTML inserted below by router -->
      <%- renderedReactNodes %>

    </div>
  </div>
  
  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <!-- In development the server intercepts this request and transpiles the React files on the fly -->
  <!-- in production, run Gulp to process assets and place them in the top level public/ directory -->
  <script src="assets/scripts/phoneapp.js"></script>

</body>
</html>